.box-outside {
    -fx-background-color: white;
    -fx-background-radius: 7 0 0 7;
    -fx-border-color: white;
}

.default-pane {
    -fx-background-color: white;
    -fx-background-radius: 6;
}

.default-pane:hover{
    -fx-background-color: #011f56;
    -fx-background-radius: 6;
}

.default-text {
    -fx-text-fill: #19abe3;
    /*-fx-font-family: "Inter Medium";*/
    -fx-font-weight: 700;
    -fx-font-size: 15;
}

.selected-pane {
    -fx-background-color:  #011f56;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(136,179,216,1), 10, 0.5, 2, 2);
}

.border-right {
    -fx-border-width: 0 1 0 0;
    -fx-border-color: lightgrey;
}

.border-bottom {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: lightgrey;
    -fx-background-color: #135892;
}

.book-logo {
    -fx-font-family: 'Inter Medium';
    -fx-font-size: 25px;
    -fx-text-fill: #19abe3;
    -fx-font-weight: 700;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0.5, 0, 5);
}

.nav-container{
    -fx-background-color: #0c68a7;
}

.circular-image {
    -fx-background-color: transparent;
    -fx-shape: "M100,50m-50,0a50,50 0 1,0 100,0a50,50 0 1,0 -100,0";
    -fx-scale-shape: true;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
}
